<div class="container">
    <div class="row">
        <h1 class="title">Pictures from Your Selected User ID:  </h1>
        <%= simple_form_for :search, url: root_path, method: "GET", html: {class: 'form_inline'} do |f| %>
        <h2>Enter the User ID you are interested in here:</h2>
        <%= f.input :user_id, input_html: {value: ""}%>
        <%= f.submit "Search", class: "btn btn-primary" %>
    <% end %>

    </div>
</div>

<% if @returned_pictures != nil%>
    <% @returned_pictures.each do |picture|%>
        
        <div class="showing"> <% if picture.title != "" %>
            <%= picture.title %>
        <% end %>
        <img src="https://live.staticflickr.com/<%=picture.server%>/<%=picture.id%>_<%=picture.secret%>.jpg" alt="" /></div>

    <% end %>

<%else%>
    <div class="container">
    <h1 class="row">Some Sample User IDs to Test Out</h1>
    <div class="row">192294339@N02</div>
    <div class="row">25614386@N05</div>
    <div class="row">90349760@N03</div>
    <div class="row">193835435@N08</div>
    <div class="row">193124709@N06</div>
    <div class="row">59801947@N05</div>
    <div class="row">12639178@N07</div>
    <div class="row">193498222@N08</div>
    <div class="row">87491170@N00</div>
    <div class="row">192294339@N02</div>
</div>
<% end %>

