<div class="container">
    <div class="row">
        <h1 class="title">Pictures from Your Selected User ID:  </h1>
        <%= simple_form_for :search, url: root_path, method: "GET", html: {class: 'form_inline'} do |f| %>
        <h2>Enter the User ID you are interested in here:</h2>
        <%= f.input :user_id, input_html: {value: ""}%>
        <%= f.submit "Search", class: "btn btn-primary" %>
    <% end %>

    </div>
</div>

<% if @returned_pictures != nil%>
    <% @returned_pictures.each do |picture|%>
        
        <div class="showing"> <% if picture.title != "" %>
            <%= picture.title %>
        <% end %>
        <img src="https://live.staticflickr.com/<%=picture.server%>/<%=picture.id%>_<%=picture.secret%>.jpg" alt="" /></div>

    <% end %>


<% end %>
<h1>Some Sample User IDs to Test Out</h1>
<p>192294339@N02</p>
<p>25614386@N05</p>
<p>90349760@N03</p>
<p>193835435@N08</p>
<p>193124709@N06</p>
<p>59801947@N05</p>
<p>12639178@N07</p>
<p>193498222@N08</p>
<p>87491170@N00</p>
<p>192294339@N02</p>
