<div class="container">
    <div class="row">
        <h1>Pictures from user </h1>
        <%= simple_form_for :search, url: root_path, method: "GET", html: {class: 'form_inline'} do |f| %>
        <%= f.input :user_id, input_html: {value: ""}%>
        <%= f.submit "Search", class: "btn btn-primary" %>
    <% end %>

    </div>
</div>

<% if @returned_pictures != nil%>
    <%= @returned_pictures.count%> pictures are found from this user.
    <% @returned_pictures.each do |picture|%>
        
        <% if picture.title != "" %>
            Picture Title: <%= picture.title%>
        <% end %>
        <img src="https://live.staticflickr.com/<%=picture.server%>/<%=picture.id%>_<%=picture.secret%>.jpg" alt="" />

    <% end %>


<% end %>